body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.project-description h1, .project-description p {
    text-align: center;
    margin: 21px 25px 15px 25px;
}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

.project-description h1 {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.project-description p {
    color:hsl(220, 15%, 55%);
    margin-top: 0;
    margin-bottom: 40px;
}

.instructions {
    font-size: 15px;
}

.project-description img {
    border-radius: 15px;
    margin: 15px 15px 0 15px;
}

@media screen and (max-width: 375px) {
    .project-description {
        width: 80%;
    }
}
